body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  padding: 0%;
  background-color: black;
  background-image: url(images/bw.jpg);
  height: 100vh;
  /* background-size: cover; */
  background-repeat: no-repeat;
  font-family: "Merriweather", serif;
}

/* navigation bar */
ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  overflow: hidden;
  background-color: #316879;
  font-size: 20px;
  font-weight: bolder;
  font-family: "Mate SC", sans-serif;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  width: 80px;
}

li a:hover {
  background-color: #4d85bd;
}

.active {
  background-color: #f47a60;
  margin-left: 20px;
}
.final {
  height: 40px;
  margin-left: 20px;
  margin-top: 8px;
}

/* middle section */
.middle {
  display: flex;
  margin-top: 12%;
  margin-left: 25%;
  margin-bottom: 500px;
}

/* main text */
.text {
  color: white;
  font-size: 68px;
  margin-top: 20px;
}
@keyframes bor {
  0% {
    border-bottom: 2px solid black;
  }

  100% {
    border-bottom: 2px solid white;
  }
}
@keyframes mul {
  0% {
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid green;
    border-left: 4px solid red;
    filter: grayscale(0%);
  }
  25% {
    border-left: 0px;
    border-top: 0px;
    border-right: 1px solid blue;
    border-bottom: 4px solid green;
    filter: grayscale(33%);
  }
  50% {
    border-top: 1px solid yellow;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 4px solid blue;
    filter: grayscale(33%);
  }

  100% {
    border-left: 1px solid red;
    border-right: 0px;
    border-bottom: 0px;
    border-top: 4px solid yellow;
    filter: grayscale(0%);
  }
}

/* my image */
.myimage img {
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 300px;
  height: 285px;
  margin-top: -50px;
  animation-name: mul;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  border-radius: 200px;
}
span {
  font-size: 50px;
  margin-left: 130px;
  /* animation-name: bor; */
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
}

.co {
  background-color: #b8b8ff;
  width: 30%;
  margin-left: 30%;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1%;
}
.name,
.address,
.num {
  margin: 4%;
  margin-left: 10%;
  height: 5vh;
  font-family: "Noto Sans JP", sans-serif;
}
.name {
  margin-top: 7%;
}
.me {
  text-align: center;
  margin-top: 2%;
  animation-name: mul1;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  font-weight: bold;
}
@keyframes mul1 {
  50% {
    color: red;
  }
}
.logos {
  margin-left: 10%;
  display: flex;
}
.ins img {
  height: 40px;
  margin-right: 25px;
}
.ins img:hover {
  background-color: #ff000063;
}
.fb img {
  height: 40px;
  margin-right: 25px;
}
.fb img:hover {
  background-color: #789ae4;
}
.em img {
  height: 40px;
}
.em img:hover {
  background-color: #f7ff73;
}

@media only screen and (max-width: 1140px) {
  .co {
    font-size: 1rem;
    margin-top: 45%;
    width: 40%;
    height: 40vh;
  }
}
@media only screen and (max-width: 945px) {
  .co {
    font-size: 0.8rem;
    margin-top: 55%;
    height: 35vh;
  }
  .me {
    margin-bottom: 10px;
  }
  .ins img,
  .fb img,
  .em img {
    height: 30px;
    height: 5vh;
  }
}
@media only screen and (max-width: 760px) {
  .co {
    font-size: 0.6rem;
    margin-top: 70%;
    height: 30vh;
  }
  .me {
    margin-bottom: 10px;
  }
  .name,
  .address,
  .num {
    margin: 1%;
    margin-left: 10%;
    height: 6vh;
  }
  .ins img,
  .fb img,
  .em img {
    height: 25px;
  }
}
@media only screen and (max-width: 600px) {
  .co {
    margin-top: 88%;
    height: 25vh;
  }
  .me {
    margin-bottom: 10px;
  }
  .ins img,
  .fb img,
  .em img {
    height: 20px;
  }
}
@media only screen and (max-width: 500px) {
  .co {
    font-size: 0.5rem;
    height: 20vh;
  }
  .me {
    margin-bottom: 10px;
  }
  .name,
  .address,
  .num {
    height: 4vh;
  }
  .ins img,
  .fb img,
  .em img {
    height: 17px;
    margin-right: 15px;
  }
}
@media only screen and (max-width: 410px) {
  .co {
    font-size: 0.4rem;
    height: 15vh;
  }
  .me {
    margin-bottom: 10px;
  }
  .name,
  .address,
  .num {
    height: 3.1vh;
  }
  .ins img,
  .fb img,
  .em img {
    height: 13px;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 330px) {
  .co {
    font-size: 0.4rem;
    height: 14vh;
  }
  .me {
    margin-bottom: 10px;
  }
  .name,
  .address,
  .num {
    height: 2.7vh;
  }
  .ins img,
  .fb img,
  .em img {
    height: 10px;
    margin-right: 8px;
  }
}

/* copyright */
.copy {
  background-color: gray;
  color: white;
  text-align: center;
  height: 22px;
  font-size: 15px;
}
@media only screen and (max-width: 1350px) {
  .myimage img {
    width: 280px;
    height: 280px;
    margin-top: -30px;
  }
}

@media only screen and (max-width: 1260px) {
  .text {
    font-size: 50px;
  }
  span {
    font-size: 35px;
    margin-left: 120px;
  }
  .middle {
    margin-bottom: 450px;
  }
}

@media only screen and (max-width: 1030px) {
  .text {
    font-size: 36px;
  }
  span {
    font-size: 25px;
    margin-left: 80px;
  }
  .middle {
    margin-bottom: 600px;
  }
  .myimage img {
    width: 180px;
    height: 180px;
  }
}
@media only screen and (max-width: 720px) {
  .text {
    font-size: 26px;
  }
  span {
    font-size: 20px;
    margin-left: 39px;
  }
  .middle {
    margin-bottom: 700px;
  }
  .myimage img {
    width: 150px;
    height: 150px;
    margin-top: -10px;
  }
}
@media only screen and (max-width: 550px) {
  .middle {
    display: block;
    margin-bottom: 550px;
  }
  .text {
    font-size: 28px;
  }
  span {
    font-size: 19px;
    margin-left: 50px;
  }
  li a {
    padding: 10px;
    font-size: 16px;
  }
  .myimage img {
    width: 150px;
    height: 150px;
    margin-top: 10px;
  }
  .copy {
    font-size: 12px;
    height: 30px;
  }
  .active {
    margin-left: 17px;
  }
  .final {
    height: 28px;
    margin-left: 18px;
    margin-top: 8px;
  }
}
@media only screen and (max-width: 430px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  .text {
    font-size: 28px;
  }
  span {
    font-size: 19px;
    margin-left: 45px;
  }
  .middle {
    display: block;
    margin-bottom: 600px;
    margin-top: 75px;
  }
  .myimage img {
    width: 120px;
    height: 120px;
    margin-top: 10px;
    margin-left: 40px;
  }
  ul {
    font-size: 12px;
  }
  li a {
    padding: 12px 22px;
    width: 60px;
  }
  .active {
    margin-left: 14px;
  }
  .final {
    height: 27px;
    width: 33px;
    margin-left: 18px;
    margin-top: 8px;
  }
}
@media only screen and (max-width: 415px) {
  .middle {
    margin-bottom: 700px;
    margin-top: 76px;
    margin-left: 49px;
  }
  .myimage img {
    margin-left: 40px;
  }
  .text {
    font-size: 28px;
    margin-left: -5px;
  }
  span {
    font-size: 19px;
    margin-left: 25px;
  }
}
@media only screen and (max-width: 385px) {
  .active {
    margin-left: 10px;
  }
  .final {
    height: 24px;
    margin-left: 13px;
    margin-top: 8px;
  }

  ul {
    font-size: 9px;
  }
  li a {
    padding: 10px 18px;
    width: 40px;
  }
}
@media only screen and (max-width: 340px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  .text {
    font-size: 21px;
  }
  span {
    font-size: 16px;
    margin-left: 30px;
  }
  .copy {
    font-size: 10px;
  }
  ul {
    font-size: 10px;
  }
  li a {
    padding: 10px 18px;
    width: 40px;
  }
  .myimage img {
    margin-top: 10px;
  }
}
