body {
  /* background-color: rgb(241 190 190); */
  margin: 0;
  padding: 0;
  background-color: #c4dfe6;
}

/* navigation bar */
nav ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #336b87;
  border-radius: 40px;
  font-family: "Mate SC", sans-serif;
}

nav li a {
  display: block;
  color: white;
  font-weight: bolder;
  text-align: center;
  padding: 0.9%;
  margin-right: 4%;
  text-decoration: none;
  font-size: 1.6rem;
  float: left;
}

nav li a:hover {
  background-color: #90afc5;
}

@media only screen and (min-width: 600px) {
  .text1:hover,
  .text2:hover,
  .text3:hover {
    animation-name: iam;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  .s:hover,
  .h:hover,
  .a:hover {
    /* background-color: #faa4ff; */
    /* background-color: #a3a3ef; */
    /* background-color: #e07a5f; */
    background-color: #f2cc8f;
    border-radius: 50px;
    width: 60%;
    margin-left: 10%;
    animation-name: st;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  #Study:hover,
  #Hobbies:hover,
  #Achivements:hover {
    animation-name: iam;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
}
/* MY INFORMATION */
.abou {
  padding: 2%;
  font-size: 1.6rem;
  /* background-color: #a3a3ef; */
  background-color: #1b998b;
  border-radius: 15px;
  margin: 0.5%;
  color: white;
  font-weight: lighter;
  /* font-family: "Pattaya", sans-serif; */
  font-family: "Roboto Slab", serif;
}

.name,
.bdate,
.address {
  margin: 1%;
}

.addre1 {
  margin-left: 7%;
}

/* STUDY */
#Study {
  margin-left: 3%;
}

.s {
  margin: 3%;
  border-radius: 30px;
  margin-top: 4%;
  margin-bottom: 8%;
  padding: 1%;
  /* background-color: #336b87; */
  background-color: #84b3ca;
  font-family: "Roboto Slab", serif;
}

.text1,
.text3,
.text2 {
  font-size: 1.3rem;
  margin-top: -1%;
  margin-left: 1%;
}

@keyframes iam {
  0% {
    padding: 10px;
    font-size: 1.3rem;
  }

  100% {
    padding: 15px;
    font-size: 1.5rem;
  }
}
@keyframes st {
  0% {
    padding: 10px;
  }
  100% {
    padding: 15px;
  }
}

/* ACHIVEMENT */
#Hobbies,
#Achivements {
  color: #000;
  font-weight: bolder;
  margin-left: 3%;
  font-size: 1.5rem;
}

.a {
  margin: 3%;
  border-radius: 30px;
  /* background-color: #336b87; */
  background-color: #84b3ca;
  margin-bottom: 8%;
  padding: 1%;
  font-family: "Roboto Slab", serif;
}

/* HOBBY */
.h {
  margin: 3%;
  border-radius: 30px;
  background-color: #84b3ca;
  margin-bottom: 8%;
  padding: 1%;
  font-family: "Roboto Slab", serif;
}

#acd {
  background-color: #c4dfe6;
  /* margin-bottom: 470px; */
}
#back {
  height: 30px;
  margin-bottom: 10px;
  margin-left: 85%;
  text-align: center;
  font-size: 20px;
}
#end {
  text-align: center;
  color: rgb(255, 0, 0);
  font-family: "Pattaya", sans-serif;
  font-weight: bolder;
  font-size: 2.1rem;
}
#ok {
  text-decoration: none;
}

@media only screen and (max-width: 1100px) {
  .abou {
    font-size: 1.3rem;
  }
  nav li a {
    font-size: 1.4rem;
  }
  .text1,
  .text3,
  .text2 {
    font-size: 1.1rem;
  }
  #Study,
  #Hobbies,
  #Achivements {
    font-size: 1.3rem;
  }
  #Study:hover,
  #Hobbies:hover,
  #Achivements:hover {
    animation-name: iam;
  }
  @keyframes iam {
    0% {
      font-size: 1.1rem;
    }

    100% {
      font-size: 1.2rem;
    }
  }
}
@media only screen and (max-width: 950px) {
  .abou {
    font-size: 1.2rem;
  }
  nav li a {
    font-size: 1.3rem;
  }
  .text1,
  .text3,
  .text2 {
    font-size: 1rem;
  }
  #Study,
  #Hobbies,
  #Achivements {
    font-size: 1.2rem;
  }
  #Study:hover,
  #Hobbies:hover,
  #Achivements:hover {
    animation-name: iam;
  }
  @keyframes iam {
    0% {
      font-size: 1rem;
    }

    100% {
      font-size: 1.1rem;
    }
  }
}
@media only screen and (max-width: 850px) {
  .abou {
    font-size: 1.1rem;
  }
  nav li a {
    font-size: 1.1rem;
  }
  #Study:hover,
  #Hobbies:hover,
  #Achivements:hover {
    animation-name: iam;
  }
  .text1,
  .text3,
  .text2 {
    font-size: 0.9rem;
  }
  @keyframes iam {
    0% {
      padding: 5px;
      font-size: 0.8rem;
    }

    100% {
      padding: 7px;
      font-size: 0.9rem;
    }
  }
  .s:hover,
  .h:hover,
  .a:hover {
    animation-name: st;
  }
  @keyframes st {
    0% {
      padding: 5px;
    }
    100% {
      padding: 10px;
    }
  }
  #end {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 670px) {
  .abou {
    font-size: 0.9rem;
  }
  nav li a {
    font-size: 1rem;
  }
  #Study,
  #Hobbies,
  #Achivements {
    font-size: 1rem;
  }
  #Study:hover,
  #Hobbies:hover,
  #Achivements:hover {
    animation-name: iam;
  }
  .text1,
  .text3,
  .text2 {
    font-size: 0.8rem;
  }
  @keyframes iam {
    0% {
      padding: 5px;
      font-size: 0.8rem;
    }

    100% {
      padding: 7px;
      font-size: 0.8rem;
    }
  }
  .s:hover,
  .h:hover,
  .a:hover {
    animation-name: st;
    border-radius: 30px;
  }
  @keyframes st {
    0% {
      padding: 4px;
    }
    100% {
      padding: 5px;
    }
  }
  #end {
    font-size: 1.1rem;
  }

  .s,
  .h,
  .a {
    margin-bottom: 20%;
  }
  .s {
    margin-top: 10%;
  }
}
@media only screen and (max-width: 500px) {
  nav li a {
    font-size: 0.8rem;
  }
  .abou {
    font-size: 0.7rem;
  }
  #Study,
  #Hobbies,
  #Achivements {
    font-size: 0.8rem;
  }
  .text1,
  .text3,
  .text2 {
    font-size: 0.6rem;
    margin-left: -1%;
  }
  .s,
  .h,
  .a {
    margin-bottom: 20%;
  }
  .s {
    margin-top: 10%;
  }
}
@media only screen and (max-width: 400px) {
  nav li a {
    font-size: 0.6rem;
  }
  .abou {
    font-size: 0.6rem;
  }
  #Study,
  #Hobbies,
  #Achivements {
    font-size: 0.6rem;
  }
  .text1,
  .text3,
  .text2 {
    font-size: 0.6rem;
    margin-left: -2%;
  }
  .s,
  .h,
  .a {
    margin-bottom: 30%;
    border-radius: 20px;
  }
  .s {
    margin-top: 20%;
  }
}
@media only screen and (max-width: 325px) {
  nav li a {
    font-size: 0.5rem;
  }
  .abou {
    font-size: 0.5rem;
  }
  #Study,
  #Hobbies,
  #Achivements {
    font-size: 0.6rem;
    margin-left: 5%;
  }
  .text1,
  .text3,
  .text2 {
    font-size: 0.5rem;
    margin-left: -4%;
  }
  .s,
  .h,
  .a {
    margin-bottom: 30%;
    border-radius: 20px;
  }
  .s {
    margin-top: 20%;
  }
}
